# Project exclude paths
/ly-auth-common/target/
/ly-auth-service/target/
/ly-cart/target/
/ly-common/target/
/ly-gateway/target/
/ly-item/ly-item-interface/target/
/ly-item/ly-item-pojo/target/
/ly-item/ly-item-service/target/
/ly-leyoupay/target/
/ly-order/target/
/ly-page/target/
/ly-registry/target/
/ly-search/target/
/ly-update/target/
/ly-user-interface/target/
/ly-user-service/target/